@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
:root{
    --white:#FFFFFF;
    --gray:#F6F6F6;
    --yellow:#FFB800;
    --black:#020202;
    --font-family: font-family: 'Roboto', sans-serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration:none ;
    font-family: var(--font-family);
    color: var(--black);
    font-weight: 400;
    line-height: 1.5rem;

}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 1.5rem 8.5rem;
    background-color: var(--white);
}
.logo{
    color: var(--yellow);
    font-size: 2.4rem;
}
#menu-icon{
    font-size: 2rem;
    color: var(--yellow);
    cursor: pointer;
    display: none;
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1.1rem;
    padding: 0.625rem 1.25rem;;
}
.navbar a:hover{
    color: var(--yellow);
    transition: 0.4s;
}
.contact-btn{
    background-color: var(--yellow);
    margin-left: 1.25rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.contact-btn:hover{
    color: var(--black);
    border:0.1rem solid var(--yellow);
    background-color: var(--white);
}
section{
    padding: 4.5rem 5.5rem;
}
.home{
    width: 100%;
    min-height: 90vh;
}
.home-text{
   text-align: center;
   margin-top:10rem;
   
}
.home-text p{
    font-size:1rem;
    font-weight: 400;
}
.home-text h1{
    margin-top: 2rem;
    font-size: 4.5rem;
    font-weight: 900;
}
span{
    color: var(--yellow); 
    font-size: 2rem;   
}
.button{
    display: flex;
    gap: 1rem;
    width: 40%;
    margin-top: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    width: 50%;
    display: inline-block;
    background-color: var(--yellow);
    padding: 0.625rem 1.25rem;
    text-align: center;
    font-size: 1.25rem;
    color: var(--white);
    margin-top: 1.25rem;
    border-radius: 0.625rem;
}
.btn:hover{
    transition: .4s;
}
 .cv{
    background-color: var(--white);
    border:0.1rem solid var(--yellow);
    color: var(--yellow);
}
.cv:hover{
    background-color: var(--yellow);
    color: var(--white);
}
.port:hover{
    background-color: var(--white);
    color: var(--yellow);
    border:0.1rem solid var(--yellow);
}
.aboutme{
    width: 100%;
    
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--yellow);
}
.aboutme-img{
    max-width: 100%;
    width:700px;
    height: auto;
    padding-left: 10rem;
}
.aboutme-text{
    max-width: 510px;
    margin-right: 2rem;
}
.aboutme-text p{
    font-weight: 400;
    font-size: 1.25rem;
}
#read-icon{
    margin-top: 1.25rem;
    text-align: center;
    font-size: 1.3rem;
}
.services{
    min-height: 100vh;
}
.service-heading{
    text-align: center;
    font-weight: 900;
    font-size:2.5rem;
    margin-bottom: 2rem;
}
#icon-img{
    font-size: 2rem;
    color: var(--gray);
    cursor: pointer;
}
hr{                                                                 
    width: 50px;
    margin: auto;
    margin-top: 1rem;
    background-color: var(--yellow);
    
}
.services-container{
    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 1280px;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}
.servies-box{
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: var(--yellow);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;


}
.service-text{
    text-align: center;

}
h3{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.25rem;

}
.service-para{
    text-align: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
}

